<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" type="image/png" href="/folder.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Folders</title>
</head>
<body>
    <header>
        <h2><a href="/">File Uploader</a></h2>
        <div class="folder-nav-bar">
            <form action="/sharedFolders" method="GET">
                <button type="submit" class="normal-button">Shared Folders</button>
            </form>
            <form action="/logout" method="POST">
                <button type="submit" class="normal-button">Logout</button>
            </form>
        </div>
    </header>
    <div class="main-content">
        <h2>Add a new folder:</h2>
            <form action="/createFolder" method="POST" class="create-form">
                <div>
                    <input type="text" name="folderName" id="folderName" maxlength="10">
                    <button type="submit" class="normal-button">add</button>
                </div>
            </form>
        <% if (folders.length > 0) { %>
            <ul class="folder-case">
                <% folders.forEach(folder => { %>
                    <li class="folder">
                        <form action="folder/<%= folder.id %>" method="GET">
                            <button type="submit" class="icon-button">
                                <i class="fa-solid fa-folder"></i>
                            </button>
                        </form>
                            <strong><%= folder.name %></strong><br>
                        <div class="folder-button-case">
                            <button class="edit-button">
                              <i class="fa-solid fa-pen"></i>
                            </button>
                            <button type="submit" class="share-button">
                                <i class="fa-solid fa-share"></i>
                            </button>
                            <form action="folder/delete/<%= folder.id %>" method="POST" >
                                <button type="submit" class="delete-button">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </div><br>
                        <form action="/folder/update/<%= folder.id %>" method="POST" class="edit-form">
                            <p><input type="text" id="newFolderName" name="newFolderName" value="<%= folder.name %>"></p><br>
                            <button type="submit" class="normal-button">Update</button>
                        </form>
                        <form action="/folder/share/<%= folder.id %>" method="POST" class="share-form">
                            <p class="share-case"><input type="number" name="duration" id="duration" min="1" required>days</p><br>
                            <button type="submit" class="normal-button">Share</button>
                        </form>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <h2>You have no folders...</h2>
        <% } %>
    </div>
    <script>
        document.querySelectorAll('.edit-button').forEach((button, index) => {
            button.addEventListener('click', function() {
                const editForm = document.querySelectorAll('.edit-form')[index];
                const shareForm = document.querySelectorAll('.share-form')[index];
                
                if (editForm.style.display === 'block') {
                    editForm.style.display = 'none';
                } else {
                    editForm.style.display = 'block';
                    shareForm.style.display = 'none';
                }
            });
        });
    
        document.querySelectorAll('.share-button').forEach((button, index) => {
            button.addEventListener('click', function() {
                const shareForm = document.querySelectorAll('.share-form')[index];
                const editForm = document.querySelectorAll('.edit-form')[index];
                
                if (shareForm.style.display === 'block') {
                    shareForm.style.display = 'none';
                } else {
                    shareForm.style.display = 'block';
                    editForm.style.display = 'none';
                }
            });
        });
    </script>
    
</body>
</html>