<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder</title>
</head>
<body>
    <h1>Folder</h1>
    <div>
        <h2><%= folder.name %></h2>
        <p>Created Time: <%= folder.createdTime %></p>
    </div>
    <h2>Add a new file here</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="document" id="document">
            <input type="hidden" name="folderId" value="<%= folder.id %>">
            <button type="submit">upload</button>
        </form>
        <% if (files.length > 0) { %>
            <ul>
            <% files.forEach(file => { %>
                <li>
                    <strong>File Name:</strong> <%= file.name %> <br>
                    <strong>File Size:</strong> <%= file.size %>
                    <form action="">
                        <button type="input">download</button>
                    </form>
                    <form action="">
                        <button type="input">delete</button>
                    </form>
                </li>
            <% }); %>
            </ul>
        <% } else { %>
            <p>Your don't have any file in this folder</p>
        <% } %> 
    <div>
        <a href="/folders">Back to Folders</a>
        <a href="/">Back to Homepage</a>
    </div>
</body>
</html>