<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder</title>
</head>
<body>
    <header>
        <h2><a href="/">File Uploader</a></h2>
    </header>
    <h1>Folder</h1>
    <div>
        <h2><%= folder.name %></h2>
        <p>Created Time: <%= folder.createdTime %></p>
        <form action="folder/delete/<%= folder.id %>" method="POST">
            <button type="submit">delete</button>
        </form>
        <form action="/folder/update/<%= folder.id %>" method="POST">
            <label for="newFolderName">New Folder Name:</label>
            <input type="text" id="newFolderName" name="newFolderName" value="<%= folder.name %>">
            <button type="submit">Update</button>
        </form>
        <form action="/folder/share/<%= folder.id %>" method="POST">
            <label for="duration">Share Duration:</label>
            <input type="number" name="duration" id="duration" min="1" required />
            <button type="submit">Share Folder</button>
          </form>
    </div>
    <h2>Add a new file here</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="document" id="document">
            <input type="hidden" name="folderId" value="<%= folder.id %>">
            <button type="submit">upload</button>
        </form>
        <% if (files.length > 0) { %>
            <ul>
            <% files.forEach(file => { %>
                <li>
                    <strong>File Name:</strong> <%= file.name %> <br>
                    <strong>File Size:</strong> <%= file.size %> <br>
                    <strong>File Id:</strong> <%= file.id %>
                    <form action="/file/download/<%= file.id %>" method="POST">
                        <input type="hidden" name="folderId" value="<%= folder.id %>">
                        <button type="input">download</button>
                    </form>
                    <form action="/file/delete/<%= file.id %>" method="POST">
                        <input type="hidden" name="folderId" value="<%= folder.id %>">
                        <button type="input">delete</button>
                    </form>
                </li>
            <% }); %>
            </ul>
        <% } else { %>
            <p>Your don't have any file in this folder</p>
        <% } %> 
    <div>
        <a href="/folders">Back to Folders</a>
    </div>
</body>
</html>